#!/usr/bin/make -f
export DH_VERBOSE = 1
export CARGO_HOME = $(CURDIR)/debian/cargo-home
export PATH := $(HOME)/.cargo/bin:$(PATH)

%:
	dh $@

override_dh_auto_build:
	cargo build --release --offline

override_dh_auto_install:
	install -Dm755 target/release/utu \
		$(DESTDIR)/usr/bin/utu
	install -Dm644 debian/utu.desktop \
		$(DESTDIR)/usr/share/applications/io.github.baraka_malila.utu.desktop
	install -Dm644 assets/trayicon.png \
		$(DESTDIR)/usr/share/icons/hicolor/128x128/apps/io.github.baraka_malila.utu.png
	cp -r assets/anime $(DESTDIR)/usr/share/utu/anime

override_dh_auto_test:
	# no automated tests
