[Desktop Entry]
Name=Utu
GenericName=ASUS Laptop Control
Comment=Control power, GPU, keyboard and battery on ASUS laptops
Exec=utu
Icon=io.github.baraka_malila.utu
Terminal=false
Type=Application
Categories=System;Settings;HardwareSettings;
Keywords=asus;rog;tuf;gpu;power;battery;keyboard;
StartupNotify=true
